* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: #111;
  padding: 0 15px;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
}

body, p, h5, a, button, input, textarea, select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    text-decoration: none;
    position: relative;
    font-size: 1.3rem;

    &:hover {
      text-decoration: underline;
    }

    &:focus, &:focus-within, &:hover {
      .sub-menu {
        display: block;
      }
    }
  }

  .sub-menu {
    flex-direction: column;
    position: absolute;
    top: 100%;
    display: none;
  }
}